.item.sc-ion-label-md-h,
.item .sc-ion-label-md-h {
    text-align: center !important;
}

.logoImg {
    height: 30px;
    width: auto;
    margin: auto;
    display: block;
}

:root {
    --ion-safe-area-top: 20px;
    --ion-safe-area-bottom: 22px;
}

ion-col>div {
    font-family: "Comic Sans MS", cursive, sans-serif;
    background-color: #f7f7f7;
    border: solid 1px #ddd;
    padding: 10px;
    border-radius: 15px;
}