<app-header></app-header>

<ion-content>

    <agm-map [latitude]="lat" [longitude]="lng" [zoom]="15">
        <agm-marker [latitude]="marcador.lat" [longitude]="marcador.lng" *ngFor="let marcador of marcadores;let i = index">
            <agm-info-window>
                <strong>{{marcador.locationContact}}</strong>
                <p>
                    {{marcador.profileDescription}}
                </p>
                <div>

                    <ion-button color="danger">
                        <a color="secondary" [href]="marcador.locationMobile">
                            <ion-icon slot="icon-only" name="phone-portrait" color="light"></ion-icon>
                        </a>
                    </ion-button>

                    <ion-button color="primary">
                        <a color="secondary" [href]="marcador.locationPhone">
                            <ion-icon slot="icon-only" name="call" color="light"></ion-icon>
                        </a>
                    </ion-button>

                    <ion-button color="dark">
                        <a color="secondary" [href]="marcador.locationEmail">
                            <ion-icon slot="icon-only" name="mail-unread" color="light"></ion-icon>
                        </a>
                    </ion-button>

                    <ion-button color="warning">
                        <a color="secondary" (click)="abrirLocation(marcador.lat,marcador.lng,marcador.locationId)">
                            <ion-icon slot="icon-only" name="pin" color="dark"></ion-icon>
                        </a>
                    </ion-button>

                </div>
            </agm-info-window>
        </agm-marker>
    </agm-map>

    <ion-searchbar color="primary" placeholder="¿ Que estas Buscando ?" animated></ion-searchbar>

</ion-content>


<ion-searchbar animated (ionChange)="buscarMapa($event)" placeholder="Buscar"></ion-searchbar>