.logoImg {
    height: 30px;
    width: auto;
    margin: auto;
    display: block;
}

agm-map {
    height: 50%;
    width: 100%;
}

.centrarText {
    display: flex;
    justify-content: center;
}

h6 {
    text-align: inherit;
}